.btn-container {
  display: flex;
  // position: relative;
  height: 100%;
  margin: 0 0 10px 0;
  justify-content: center;
  background: #f2d973;
  & .load-more,
  .close-btn {
    flex-direction: row;
    // position: absolute;
    width: 120px;
    height: 40px;
    background: #f2d973;
    // border-radius: 50%;
    border: 1px solid #f2d973;
    &:hover {
      color: #f2d973;
      background: linear-gradient(
        122deg,
        #f2d973 25.38%,
        #000000 51.29%,
        #f2d973 76.31%
      );
      border: none;
    }
  }
  & .load-more {
    bottom: -20px;
  }
  & .close-btn {
    bottom: -80px;
  }
}
