.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('/src/images/bkg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  & .photo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    margin: 5px;
    box-shadow: 0 1px 3px #f5e191, 0 5px 5px #f5e191;
    overflow: hidden;
    & .gallery-item {
       height: 100%;
      &:hover img {
        transform: scale(2.2);
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
      }
    }
  }
}

.info {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  stroke-width: 0.1px;
  &__box {
    max-width: 80px;
    text-align: center;
    line-height: 0.2em;
    font-size: 0.7em;
  }
}
.info .info__box .info-item .material-symbols-outlined {
  color: #f5e191;
  font-size: 1.5rem;
}
.info-counter {
  color: #f5e191;
  font-size: 1rem;
}
