.search-container {
  background-image: url('/src/images/bkg1.jpg');
  position: relative;
  padding-top: 10px;
  height: 120px;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  & .logo > img {
    margin-top: -20px;
    position: absolute;
    max-height: 150px;
    right: 90px;
  }
  &__form {
    margin-top: 15px;
    margin-left: 90px;
    max-width: 700px;
    height: 60px;
    background: linear-gradient(122deg, #000000 20.76%, #f2d973 94.18%);
    border-radius: 0px;
       & input {
      max-width: 370px;
      padding: 0 0 0 15px;
      float: left;
      color: #f2d973;
      font-size: 38px;
      font-weight: 700;
      border: 0;
      background: transparent;
      &:focus {
        outline: 0;
        background: transparent;
      }
    }
    & button {
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 59px;
      width: 60px;
      color: #000000;
      background: linear-gradient(122deg, #f2d973 20.76%, #000 94.18%);
      &:hover {
        background: linear-gradient(122deg, #000000 20.76%, #f2d973 94.18%);
        color: #f2d973;
      }
      &:active {
        box-shadow: 0px 0px 50px 0px #f2d973;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}

