

.sl-wrapper {
  background-image: url('/src/images/bkg1.jpg');
}
.sl-wrapper button.sl-close {
  color: #f5e191;
  height: 50px;
  font-size: 4rem;
}
.sl-wrapper .sl-navigation button.sl-next,
.sl-wrapper .sl-navigation button.sl-prev {
  color: #f5e191;
}
.sl-wrapper div.sl-counter {
  color: #f5e191;
  font-size: 1.5rem;
}

